<div class= "container" id="search-form">
<%= form_tag(root_path, :method => "get") do %>
  <row>
    <div class="col-md-2">
    <h4>From Airport</h1>
      <%= select_tag(:from_airport, options_for_select(@airports), class: "form-control" )%>
    </div>
  </row>
  <row>
  <div class="col-md-2 ">
    <h4>To Airport</h1>
      <%= select_tag(:to_airport, options_for_select(@airports), class: "form-control" )%>
    </div>
  </row>
  <row>
  <div class="col-md-2 ">
    <h4>Passangers</h1>
    <%= select_tag(:num_tickets, options_for_select(@num), class: "form-control") %>
    </div>
  </row>
  <row>
  <div class="col-md-2 ">
    <h4>Date</h1>
    <%= select_tag(:date, options_for_select(@dates), class: "form-control") %>
    </div>
  </row>
  <row>
    <div class="col-md-1 ">
    <%= submit_tag "Search", class: "btn btn-default btn-lg" %>
    </div>
  </row>
<% end %>
</div>