<div class="container" id="passengers">
<div class="col-md-4">

<%= form_for(@booking) do |f| %>

        <%= f.fields_for :passengers do |passenger_form|  %>
            <%= content_tag :h2, "Passenger"  %>
            <%= passenger_form.label :name%>
            <%= passenger_form.text_field :name, class: 'form-control' %>
            <%= passenger_form.label :email%>
            <%= passenger_form.email_field :email, class: 'form-control' %>
        <% end %>

    <%= f.hidden_field :flight_id, :value => @flight.id %>
    <%= submit_tag "Submit", class: "btn btn-default btn-lg" %>

<% end %>
</div>
</div>