<div class="container" id="passengers">
<div class="col-md-4">

<%= form_for(@booking) do |f| %>

    <% @passengers.each_with_index do |passenger, i| %>
        <%= fields_for passenger do |passenger_form|  %>
            <%= content_tag :h2, "Passenger #{i+1}"  %>
            <%= passenger_form.label :name%>
            <%= passenger_form.text_field :name, class: 'form-control' %>
            <%= passenger_form.label :email%>
            <%= passenger_form.email_field :email, class: 'form-control' %>
        <% end %>
    <% end %>

    <%= submit_tag "Submit", class: "btn btn-default btn-lg" %>

<% end %>
</div>
</div>